<div style="padding: 5px;">
<form  #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
    <p>
      <label for="firstname">First Name</label>
      <input type="text" id="firstname" name="firstname" #fname="ngModel" [(ngModel)]="contact.firstName" ngModel>
    </p>
    <p>
      <label for="lastname">Last Name</label>
      <input type="text" id="lastname" name="lastname" [(ngModel)]="contact.lastName" ngModel>
    </p>
    <p>
      <label for="email">Email</label>
      <input type="text" id="email" name="email" [(ngModel)]="contact.email" ngModel>
    </p>
    <p>
      <label for="gender">Gender</label>
      <input type="radio" value="male" id="male" name="gender" [(ngModel)]="contact.gender" ngModel>
      <label for="male">Male</label>
      <input type="radio" value="female" id="female" name="gender" [(ngModel)]="contact.gender" ngModel>
      <label for="female">Female</label>
    </p>
    <p>
      <label for="isMarried">Married</label>
      <input type="checkbox" id="isMarried" name="isMarried" [(ngModel)]="contact.isMarried" ngModel>
    </p>
    <p>
      <label for="country">Country</label>
      <select name="country" id="lstCountry" [(ngModel)]="contact.country" ngModel>
        <option value="">Select</option>
        <option *ngFor="let country of countryList" [ngValue]="country.id">
          {{country.name}}
        </option>        
      </select>
    </p>
    <div ngModelGroup="address">
      <p>
        <label for="city">City</label>
        <input type="text" id="city" name="city" [(ngModel)]="contact.address.city" ngModel>
      </p>
      <p>
        <label for="street">Street</label>
        <input type="text" id="street" name="street" [(ngModel)]="contact.address.street" ngModel>
      </p>
      <p>
        <label for="pincode">Pin Code</label>
        <input type="text" id="pincode" name="pincode" [(ngModel)]="contact.address.pincode" ngModel>
      </p>
    </div>
    <p>
      <button type="submit">Submit</button>
      <button type="button" (click)="reset(contactForm)">Reset</button>
    </p>
</form>

<pre>Value : {{contactForm.value | json}}</pre>
<pre>Valid : {{contactForm.valid}}</pre>
<pre>Touched : {{contactForm.touched}}</pre>
<pre>submitted : {{contactForm.submitted}}</pre>
</div>